/*this is for the weather site and screened devices*/

/********************************************
* CSS Table of Contents
* 1. Imports
* 2. General Styles
* 2a.   Navigation
* 2b.   Current weather
* 2c.   Wind Styles
* 3. Mobile Styles
* 3a.   Location Information
* 3b.   Weather Tiles
* 3c.   Hourly Temps
* 4. Large Screen Styles
* 4a.   location information
* 4b.   weather tiles
* 4c.    Hourly temps
*
*********************************************/

/********************************************
* 1. Imports
*********************************************/

/*get the font from google*/

@import url('https://fonts.googleapis.com/css?family=Sansita');
*/
/*import the Normalize stylesheet*/

@import url('https://fonts.googleapis.com/css?family=Sansita');


/********************************************
* 2. General Styles
*********************************************/

html * {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: helvetica, arial, sans-serif;
    font-size: 20px;
    margin: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, Times, serif;
}

img {
    max-width: 100%;
    height: auto;
}

#page-header {
    background-color: #0e89d5;
    display: flex;
    align-items: center;
}

.site-brand {
    font-size: 2em;
    font-weight: 600;
}


#content {
    clear: both;
}

#locationInfo {
    font-size: small;
    flex-wrap: wrap;
}

#page-nav {
    display: flex;
    background-color: #0e89d5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    font-size: 3.5vw;
    /* z-index: 100;*/
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

ul li {
    list-style: none;
}


/********************************************
* 2a.   Navigation
*********************************************/

    {
    box-sizing: border-box;
    /* changes width property
    to total width instead of content width */
}



article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
}



/********************************************
* 2b.   Current Weather
*********************************************/

#curWeather {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    background-image: url("/images/plan-images/sunny-winter.jpg");
    background-size: cover;
    width: 100%;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

#smallConditions,
#video {
    display: inline-block;
    align-items: center;
    display: flex;
}

#video {}


/********************************************
* 2c. Wind Styles
*********************************************/

#dial {
    height: 150px;
    width: 150px;
    z-index: 100;
    background: no-repeat center/85% url('/weather/images/wind-pointer.png');
    margin: -.6em auto 0;
}

#wind .northMark {
    font-size: smaller;
    margin: .5em 0 0 0;
    text-align: center;
}

#wind {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
}



#wind-speed {
    width: 100%;
    text-align: left;
    position: center;
    top: 30%;
}

/* rotate the dial to wind direction */

.north {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.ne {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nw {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}

.east {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.south {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.se {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.sw {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.west {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}


/********************************************
* 3. Moblie First Styles
*********************************************/

/********************************************
* 3a.   Location Information
*********************************************/

h1 {
    margin: .15em 0;
    padding-left: 6px;
}

#locationInfo dl {
    display: flex;
    font-size: 3.vw;
    margin: .5em 0;
}

#locationInfo dt,
#locationInfo dd {
    padding: 0;
    margin: 0;
}

#locationInfo dt {
    font-weight: 800;
    padding: 0 6px;
}

#locationInfo dd {
    padding-right: .25em;
    border-right: 1px solid #000;
}

#locationInfo dd:last-child {
    padding-right: 0;
    border-right: none;
}

/********************************************
* 3b.   Weather Tiles
*********************************************/

#smallConditions,
#video,
#hourly {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

#smallConditions {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1em;
}

#temps,
#wind {
    flex: 0 1 50%;
}

#curTemp {
    font-size: 4em;
    margin: 0 !important;
    padding: .05em;
}

#temps {
    text-align: center;
    margin: .5em 0;
}

#hi {
    color: #a00;
    margin-right: .5em;
}

#lo {
    color: #00a;
}

#video {
    text-align: center;
}

#temps {
    background-color: rgba(200, 200, .6);
    border: 1px solid;
    border-radius: 15px;
    \ display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    align-items: center;
}

#wind {
    background-color: rgba(200, 200, .6);
    border: 1px solid;
    border-radius: 15px;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    align-items: center;
}

#video {
    background-color: rgba(200, 200, .6);
    border: 1px solid;
    border-radius: 15px;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    align-items: center;
}

/********************************************
* 3c.   Hourly Temps
*********************************************/

element.style {}

#hourly ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: center;
    list-style: none;
    padding: .15em;
    margin: .25em 0;
    height: 40 px;
}

#hourly ul li {
    flex: 0 0 auto;
    padding: 0 .25em;
    border-right: 1px solid #000;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    background-color: #0e89d5;
}



/* ********************************************
* 4. Large Screens
*********************************************/

@media screen and (min-width: 760px) {
    /*center the content on the screen*/
    body > div {
        max-width: 1100px;
        margin: 0 auto;

    }
}
