************************
/*1. general
* 2. Moblie
* 3. Largescreen
*
*/

/* general*/

body {
    background-image: url("/Assingments/acme/images/site/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


page-nav {
    background-image: url("/Assingments/acme/images/site/logo.png");
    display: flex table-row;
}


/********************
/* Moblie
********************/

/********************
/* Largescreen
********************/
