************************
/*1. general
* 2. Moblie First
* 3. Largescreen
*
*/

/* general*/

body {
    background-image: url("../images/site/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

page-nav {}


/********************
/* Moblie First
********************/

/********************
/* Largescreen
********************/
